// you can change colors here
@font-face {
    font-family: "jbmono";
    src: url("/assets/font/JetBrainsMono-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "yuyang";
    src: url("/assets/font/TsangerYuYangT_W03_W03.ttf");
    font-display: swap;
}

@font-face {
    font-family: "puhui";
    src: url("/assets/font/AlibabaPuHuiTi-2-55-Regular.woff2") format("woff2"),
    url("/assets/font/AlibabaPuHuiTi-2-55-Regular.woff") format("woff");
    font-display: swap;
}

$theme-color: #40b9ce;
$font-family-heading: smiley;
$font-family: puhui;
$font-family-mono: jbmono;